[Unit]
Description=Starts flameshot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/flameshot
ExecStop=/usr/bin/kill $MAINPID
TimeOutStopSec=5s

[Install]
WantedBy=xlaunched.target
