[Unit]
Description="Ibus Daemon"
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/ibus-daemon
ExecStop=/usr/bin/kill $MAINPID
TimeoutStopSec=5s

[Install]
WantedBy=xlaunched.target