[Unit]
Description=picom compositor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/picom --experimental-backends -c
ExecStop=/usr/bin/kill $MAINPID
TimeoutStopSec=5s

[Install]
WantedBy=xlaunched.target
