[Unit]
Description=Starts encryption from den to rustic-den

[Service]
Type=simple
ExecStart=%h/dots/yarra-valley-rice/local-scripts/.local/bin/enctron-uploader.sh

[Install]
WantedBy=default.target
