[Unit]
Description=Runs secrets encryption service once every ten minutes

[Timer]
OnBootSec=5m
OnUnitActiveSec=10m

[Install]
WantedBy=default.target