configuration 
{
	modi: "combi,run,drun,window,file-browser,windowcd";
	width: 35;
	lines: 8;
	columns: 1;
	font: "Cascadia Code PL Italic 15";
	show-icons: true;
	terminal: "rofi-sensible-terminal";
	icon-theme: "Papirus";
	theme: "/home/wraith/.cache/colstract/colors-rofi-dark.rasi";
	matching: "fuzzy";
	sidebar-mode: true;
}
