#include "/home/wraith/.config/user_custom/configs/urxvt.conf"
#include "/home/wraith/.config/user_custom/configs/xft.conf"
#include "/home/wraith/.config/user_custom/configs/xterm.conf"
#include "/home/wraith/.config/user_custom/configs/xft.conf"
#include "/home/wraith/.config/user_custom/colorschemes/yarra-valley.conf"